.container {
    max-width: 1140px;
    margin: auto;
}

.heading,
.coin-row {
    display: grid;
    grid-template-columns: 1fr 2fr 1.5fr 1.5fr 2fr 2fr;
    align-items: center;
    margin: 2rem 1rem;
    padding: 0.7rem 1rem;
    font-weight: 700;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    color: black;
}

.coin-name {
    margin-left: 0;
}

.coin-row {
    font-weight: bold;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.coin-row:hover {
    transform: scale(1.04);
}

img {
    height: 40px;
    margin-right: 8px;
    width: auto;
}

.img-symbol {
    display: flex;
    align-items: center;
}


@media screen and (max-width: 720px) {
    .heading,
    .coin-row {
        grid-template-columns: 1fr 2fr 1.5fr 1.5fr; 
    }

    .hide-mobile {
        display: none;
    }
}