.toolbar {
    background-color:rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
}


.navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.icon {
    font-size: 2rem;
    color: black;
    margin-right: 10px;
}

.title {
    display: flex;
    align-items: center;
}

.blue {
    color: black;
}

.spacer {
    flex-grow: 1;
}

.desktop-menu {
    display: flex;
    align-items: center;
    margin-right: 1em;
    
}

.nav-link {
    margin-left: 20px;
    text-decoration: none;
    color: inherit;
    font-size: 1.25rem;
    /* font-weight: bold; */
}

.mobile-menu {
    display: none;
    margin-top: 0.285em !important;
}

.drawer-paper {
    background: rgba(255, 255, 255, 0.4) !important; 
    backdrop-filter: blur(10px) !important; 
    /* color: white;  */
}


@media (max-width: 600px) {
    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: block;
    }
}
